$font-family-base: 'Roboto';
$body-bg: #9696ff33;
$card-bg: #fff;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "~bootstrap/scss/bootstrap";